---
import "./hero.css";
import Boton from "../atoms/Boton.astro";
---

<section class="hero">
  <div class="hero__container">
    <div class="text__content">
      <h1 class="hero__title color__gradiente">App Devops Dummy</h1>
      <p class="hero__text">
        Aplicación Dummy enfocada en microservicios para pruebas del equipo
        Devops Tigo
      </p>
      <ul>
        <li>
          <Boton
            onclick="window.open('http://localhost:8080', '_blank')"
            texto="MicroFrontEnd React"
          />
        </li>
      </ul>
      <ul>
        <li>
          <Boton
            onclick="window.open('http://127.0.0.1:8009/', '_blank')"
            texto="MicroFrontEnd Laravel"
          />
        </li>
      </ul>
    </div>
  </div>
</section>
