---
import "./hero.css";
import Boton from "../atoms/Boton.astro";
---

<section class="hero">
  <div class="hero__container">
    <div class="text__content">
      <h1 class="hero__title color__gradiente">App Devops Dummy 2</h1>
      <p class="hero__text">
        Aplicación Dummy enfocada en microservicios y microfrontends para pruebas del equipo DevOps 
      </p>
      <ul>
        <li>
          <Boton
            onclick="window.open('http://devopsdummyholavite.apps.preprodalcaldia.medellin.gov.co', '_blank')"
            texto="MicroFrontEnd React"
          />
        </li>
      </ul>
      <ul>
        <li>
          <Boton
            onclick="window.open('http://devopsdummyholalaravelmfe.apps.preprodalcaldia.medellin.gov.co/', '_blank')"
            texto="MicroFrontEnd Laravel"
          />
        </li>
      </ul>
      <ul>
        <li>
          <Boton
            onclick="window.open('http://devopsdummysubpage.apps.preprodalcaldia.medellin.gov.co', '_blank')"
            texto="MicroFrontEnd SpringBoot"
          />
        </li>
      </ul>
    </div>
  </div>
</section>
