---
import Hero from '../components/hero/Hero.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="App Devops Dummy">
	<main class="self-center w-full">
		<Hero />
	</main>
</Layout>
